<!DOCTYPE html>
<html>
<head>
  <title>修改密码</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="/css/teacher/changePasswordPageStyle.css">
</head>

<body>
  <div id="topBar">
    <img id="bookIMG" src="/pic/teacher/book.png">
    <p id="heading">教师系统</p>
    <ul>
      <li id="teacherHeadList"><img src="/pic/teacher/defaultHead.png" id="teacherHead" />
        <ul id="teacherHeadUL">
          <li><a href="/user/changePassword">账户设置</a></li>
          <li><a href="/user/login">退出登录</a></li>
        </ul>
      </li>
      <p id="welcomeInfo">衣扬，欢迎您！</p>
    </ul>
  </div>



  <div id="bodyBottom">
      <p id="title">修改密码</p>
      <hr id="upperHr" />
      <div id="modifyDiv">
          <div id="oldPasswordInput">
            <div>原密码：</div>
            <input v-model="oldPW" type="text" name="oldPW">
          </div>
          <p id="errorMessage1">{{ em1 }}</p> 
          <div id="newPasswordInput">
            <div>新密码：</div>
            <input v-model="newPW" type="text" name="newPW">
          </div>
          <p id="errorMessage2">{{ em2 }}</p>
          <div id="newPasswordInputag">
            <div>确认密码：</div>
            <input v-model="confirmPW" type="text" name="confirmPW">
          </div>
          <p id="errorMessage3">{{ em3 }}</p>
        <button v-on:click="checkInput" id="submitBT">确认提交</button>
        <a href="/user">返回</a>
      </div>

      <script src="/scripts/vue.js"></script>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <script src="/scripts/changePassword.js"></script>
    
  </div>

    
</body>
</html>